name: playnite-insights-app

services:
  app-docs:
    build:
      context: .
      target: mkdocs-runtime
    container_name: app-docs

  app-prod:
    build:
      context: .
      target: prod
    container_name: app-prod
    restart: always
    volumes:
      - playatlas-prod-data:/app/data
    environment:
      TZ: "America/Sao_Paulo"
      PLAYATLAS_LOG_LEVEL: 0
    logging:
      driver: journald
      options:
        tag: playatlas

volumes:
  playatlas-prod-data:
