@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
	/* ==== Colors Pallet ==== */
	--pl-color-primary-50: hsl(198, 100%, 97%);
	--pl-color-primary-100: hsl(198, 100%, 94%);
	--pl-color-primary-200: hsl(198, 100%, 87%);
	--pl-color-primary-300: hsl(198, 100%, 77%);
	--pl-color-primary-400: hsl(198, 100%, 72%);
	--pl-color-primary-500: hsl(198, 100%, 67%);
	--pl-color-primary-600: hsl(198, 100%, 50%);
	--pl-color-primary-700: hsl(198, 100%, 42%);
	--pl-color-primary-800: hsl(198, 100%, 34%);
	--pl-color-primary-900: hsl(198, 100%, 26%);
	--pl-color-primary-950: hsl(198, 100%, 18%);

	--pl-color-error-50: hsl(355, 100%, 97%);
	--pl-color-error-100: hsl(355, 100%, 94%);
	--pl-color-error-200: hsl(355, 100%, 88%);
	--pl-color-error-300: hsl(355, 100%, 78%);
	--pl-color-error-400: hsl(355, 100%, 70%);
	--pl-color-error-500: hsl(355, 100%, 64%);
	--pl-color-error-600: hsl(355, 100%, 54%);
	--pl-color-error-700: hsl(355, 100%, 46%);
	--pl-color-error-800: hsl(355, 100%, 38%);
	--pl-color-error-900: hsl(355, 100%, 30%);
	--pl-color-error-950: hsl(355, 100%, 22%);

	--pl-color-warning-50: hsl(42, 100%, 96%);
	--pl-color-warning-100: hsl(42, 100%, 92%);
	--pl-color-warning-200: hsl(42, 100%, 85%);
	--pl-color-warning-300: hsl(42, 100%, 75%);
	--pl-color-warning-400: hsl(42, 100%, 65%);
	--pl-color-warning-500: hsl(42, 100%, 55%);
	--pl-color-warning-600: hsl(42, 100%, 48%);
	--pl-color-warning-700: hsl(42, 100%, 40%);
	--pl-color-warning-800: hsl(42, 100%, 32%);
	--pl-color-warning-900: hsl(42, 100%, 26%);
	--pl-color-warning-950: hsl(42, 100%, 20%);

	--pl-color-success-50: hsl(152, 55%, 96%);
	--pl-color-success-100: hsl(152, 55%, 92%);
	--pl-color-success-200: hsl(152, 55%, 85%);
	--pl-color-success-300: hsl(152, 55%, 75%);
	--pl-color-success-400: hsl(152, 55%, 65%);
	--pl-color-success-500: hsl(152, 55%, 55%);
	--pl-color-success-600: hsl(152, 55%, 45%);
	--pl-color-success-700: hsl(152, 55%, 38%);
	--pl-color-success-800: hsl(152, 55%, 30%);
	--pl-color-success-900: hsl(152, 55%, 24%);
	--pl-color-success-950: hsl(152, 55%, 18%);

	--pl-color-background: hsl(228, 48%, 10%);
	--pl-color-background-1: hsl(228, 48%, 15%);
	--pl-color-background-2: hsl(228, 48%, 18%);
	--pl-color-background-3: hsl(228, 48%, 22%);

	--pl-color-foreground: white;

	--bottom-nav-height: 4.4rem;
	--header-height: 3.4rem;
	/* ==== ==== */

	/* ==== Semantic Tokens ==== */
	--color-background: var(--pl-color-background);
	--color-background-1: var(--pl-color-background-1);
	--color-background-2: var(--pl-color-background-2);
	--color-background-3: var(--pl-color-background-3);
	--color-foreground: var(--color-neutral-50);
	/* Primary variant */
	--color-primary-bg: var(--pl-color-primary-700);
	--color-primary-fg: var(--color-foreground);
	--color-primary-hover-bg: var(--pl-color-primary-600);
	--color-primary-hover-fg: var(--pl-color-primary-100);
	--color-primary-active-bg: var(--pl-color-primary-800);
	--color-primary-active-fg: var(--color-foreground);
	--color-primary-disabled-bg: var(--color-neutral-800);
	--color-primary-disabled-fg: var(--color-neutral-400);
	--color-primary-selected-bg: rgba(255, 255, 255, 0.04);
	--color-primary-selected-fg: var(--pl-color-primary-600);
	/* Primary light variant */
	--color-primary-light-bg: transparent;
	--color-primary-light-fg: var(--pl-color-primary-400);
	--color-primary-light-hover-bg: rgba(255, 255, 255, 0.02);
	--color-primary-light-hover-fg: var(--pl-color-primary-600);
	--color-primary-light-active-bg: rgba(255, 255, 255, 0.02);
	--color-primary-light-active-fg: var(--pl-color-primary-700);
	--color-primary-light-disabled-bg: rgba(255, 255, 255, 0.02);
	--color-primary-light-disabled-fg: var(--color-neutral-400);
	--color-primary-light-selected-bg: rgba(255, 255, 255, 0.04);
	--color-primary-light-selected-fg: var(--pl-color-primary-600);
	/* Neutral variant */
	--color-neutral-bg: var(--color-neutral-700);
	--color-neutral-fg: var(--color-foreground);
	--color-neutral-hover-bg: var(--color-neutral-600);
	--color-neutral-hover-fg: var(--color-neutral-100);
	--color-neutral-active-bg: var(--color-neutral-800);
	--color-neutral-active-fg: var(--color-foreground);
	--color-neutral-disabled-bg: var(--color-neutral-800);
	--color-neutral-disabled-fg: var(--color-neutral-400);
	--color-neutral-selected-bg: rgba(255, 255, 255, 0.08);
	--color-neutral-selected-fg: var(--color-neutral-600);
	/* Neutral light variant */
	--color-neutral-light-bg: transparent;
	--color-neutral-light-fg: var(--color-neutral-200);
	--color-neutral-light-hover-bg: rgba(255, 255, 255, 0.02);
	--color-neutral-light-hover-fg: var(--color-neutral-300);
	--color-neutral-light-active-bg: rgba(255, 255, 255, 0.02);
	--color-neutral-light-active-fg: var(--color-neutral-400);
	--color-neutral-light-disabled-bg: var(--color-neutral-800);
	--color-neutral-light-disabled-fg: var(--color-neutral-400);
	--color-neutral-light-selected-bg: rgba(255, 255, 255, 0.08);
	--color-neutral-light-selected-fg: var(--color-neutral-600);
	/* Success variant */
	--color-success-bg: var(--color-green-700);
	--color-success-fg: var(--color-foreground);
	/* Success light variant */
	--color-success-light-bg: transparent;
	--color-success-light-fg: var(--pl-color-success-400);
	--color-success-light-hover-bg: rgba(255, 255, 255, 0.04);
	--color-success-light-hover-fg: var(--pl-color-success-500);
	--color-success-light-active-bg: rgba(255, 255, 255, 0.06);
	--color-success-light-active-fg: var(--pl-color-success-600);
	--color-success-light-disabled-bg: transparent;
	--color-success-light-disabled-fg: var(--color-neutral-500);
	--color-success-light-selected-bg: rgba(255, 255, 255, 0.08);
	--color-success-light-selected-fg: var(--pl-color-success-500);
	/* Warning variant */
	--color-warning-bg: var(--color-yellow-700);
	--color-warning-fg: var(--color-foreground);
	/* Warning light variant */
	--color-warning-light-bg: transparent;
	--color-warning-light-fg: var(--pl-color-warning-400);
	--color-warning-light-hover-bg: rgba(255, 255, 255, 0.04);
	--color-warning-light-hover-fg: var(--pl-color-warning-500);
	--color-warning-light-active-bg: rgba(255, 255, 255, 0.06);
	--color-warning-light-active-fg: var(--pl-color-warning-600);
	--color-warning-light-disabled-bg: transparent;
	--color-warning-light-disabled-fg: var(--color-neutral-500);
	--color-warning-light-selected-bg: rgba(255, 255, 255, 0.08);
	--color-warning-light-selected-fg: var(--pl-color-warning-500);
	/* Error variant */
	--color-error-bg: var(--color-red-700);
	--color-error-fg: var(--color-foreground);
	--color-error-hover-bg: var(--color-red-600);
	--color-error-hover-fg: var(--color-red-100);
	--color-error-active-bg: var(--color-red-800);
	--color-error-active-fg: var(--color-foreground);
	--color-error-disabled-bg: var(--color-neutral-800);
	--color-error-disabled-fg: var(--color-neutral-400);
	/* Error light variant */
	--color-error-light-bg: transparent;
	--color-error-light-fg: var(--pl-color-error-400);
	--color-error-light-hover-bg: rgba(255, 255, 255, 0.04);
	--color-error-light-hover-fg: var(--pl-color-error-500);
	--color-error-light-active-bg: rgba(255, 255, 255, 0.06);
	--color-error-light-active-fg: var(--pl-color-error-600);
	--color-error-light-disabled-bg: transparent;
	--color-error-light-disabled-fg: var(--color-neutral-500);
	--color-error-light-selected-bg: rgba(255, 255, 255, 0.08);
	--color-error-light-selected-fg: var(--pl-color-error-500);
	/* Info variant */
	--color-info-bg: var(--pl-color-primary-800);
	--color-info-fg: var(--color-foreground);
	/* ==== ==== */
}

[data-theme="dark"] {
	/* BEGIN: Dark Theme */
	--color-background: var(--pl-color-background);
	--color-background-1: var(--pl-color-background-1);
	--color-background-2: var(--pl-color-background-2);
	--color-background-3: var(--pl-color-background-3);
	--color-foreground: var(--color-neutral-50);
	/* Primary variant */
	--color-primary-bg: var(--pl-color-primary-700);
	--color-primary-fg: var(--color-foreground);
	--color-primary-hover-bg: var(--pl-color-primary-600);
	--color-primary-hover-fg: var(--pl-color-primary-100);
	--color-primary-active-bg: var(--pl-color-primary-800);
	--color-primary-active-fg: var(--color-foreground);
	--color-primary-disabled-bg: var(--color-neutral-800);
	--color-primary-disabled-fg: var(--color-neutral-400);
	--color-primary-selected-bg: rgba(255, 255, 255, 0.04);
	--color-primary-selected-fg: var(--pl-color-primary-600);
	/* Primary light variant */
	--color-primary-light-bg: transparent;
	--color-primary-light-fg: var(--pl-color-primary-400);
	--color-primary-light-hover-bg: rgba(255, 255, 255, 0.03);
	--color-primary-light-hover-fg: var(--pl-color-primary-500);
	--color-primary-light-active-bg: rgba(255, 255, 255, 0.06);
	--color-primary-light-active-fg: var(--pl-color-primary-600);
	--color-primary-light-disabled-bg: transparent;
	--color-primary-light-disabled-fg: var(--color-neutral-500);
	--color-primary-light-selected-bg: rgba(255, 255, 255, 0.08);
	--color-primary-light-selected-fg: var(--pl-color-primary-500);
	/* Neutral variant */
	--color-neutral-bg: var(--color-neutral-700);
	--color-neutral-fg: var(--color-foreground);
	--color-neutral-hover-bg: var(--color-neutral-600);
	--color-neutral-hover-fg: var(--color-neutral-100);
	--color-neutral-active-bg: var(--color-neutral-800);
	--color-neutral-active-fg: var(--color-foreground);
	--color-neutral-disabled-bg: var(--color-neutral-800);
	--color-neutral-disabled-fg: var(--color-neutral-400);
	/* Neutral light variant */
	--color-neutral-light-bg: transparent;
	--color-neutral-light-fg: var(--color-neutral-100);
	--color-neutral-light-hover-bg: rgba(255, 255, 255, 0.04);
	--color-neutral-light-hover-fg: var(--color-neutral-50);
	--color-neutral-light-active-bg: rgba(255, 255, 255, 0.06);
	--color-neutral-light-active-fg: var(--color-neutral-200);
	--color-neutral-light-selected-bg: rgba(255, 255, 255, 0.08);
	--color-neutral-light-selected-fg: var(--color-neutral-50);
	--color-neutral-light-disabled-bg: transparent;
	--color-neutral-light-disabled-fg: var(--color-neutral-500);
	/* Success variant */
	--color-success-bg: var(--color-green-700);
	--color-success-fg: var(--color-foreground);
	/* Success light variant */
	--color-success-light-bg: transparent;
	--color-success-light-fg: var(--pl-color-success-400);
	--color-success-light-hover-bg: rgba(255, 255, 255, 0.04);
	--color-success-light-hover-fg: var(--pl-color-success-500);
	--color-success-light-active-bg: rgba(255, 255, 255, 0.06);
	--color-success-light-active-fg: var(--pl-color-success-600);
	--color-success-light-disabled-bg: transparent;
	--color-success-light-disabled-fg: var(--color-neutral-500);
	--color-success-light-selected-bg: rgba(255, 255, 255, 0.08);
	--color-success-light-selected-fg: var(--pl-color-success-500);
	/* Warning variant */
	--color-warning-bg: var(--color-yellow-700);
	--color-warning-fg: var(--color-foreground);
	/* Warning light variant */
	--color-warning-light-bg: transparent;
	--color-warning-light-fg: var(--pl-color-warning-400);
	--color-warning-light-hover-bg: rgba(255, 255, 255, 0.04);
	--color-warning-light-hover-fg: var(--pl-color-warning-500);
	--color-warning-light-active-bg: rgba(255, 255, 255, 0.06);
	--color-warning-light-active-fg: var(--pl-color-warning-600);
	--color-warning-light-disabled-bg: transparent;
	--color-warning-light-disabled-fg: var(--color-neutral-500);
	--color-warning-light-selected-bg: rgba(255, 255, 255, 0.08);
	--color-warning-light-selected-fg: var(--pl-color-warning-500);
	/* Error variant */
	--color-error-bg: var(--color-red-700);
	--color-error-fg: var(--color-foreground);
	--color-error-hover-bg: var(--color-red-600);
	--color-error-hover-fg: var(--color-red-100);
	--color-error-active-bg: var(--color-red-800);
	--color-error-active-fg: var(--color-foreground);
	--color-error-disabled-bg: var(--color-neutral-800);
	--color-error-disabled-fg: var(--color-neutral-400);
	/* Error light variant */
	--color-error-light-bg: transparent;
	--color-error-light-fg: var(--pl-color-error-400);
	--color-error-light-hover-bg: rgba(255, 255, 255, 0.04);
	--color-error-light-hover-fg: var(--pl-color-error-500);
	--color-error-light-active-bg: rgba(255, 255, 255, 0.06);
	--color-error-light-active-fg: var(--pl-color-error-600);
	--color-error-light-disabled-bg: transparent;
	--color-error-light-disabled-fg: var(--color-neutral-500);
	--color-error-light-selected-bg: rgba(255, 255, 255, 0.08);
	--color-error-light-selected-fg: var(--pl-color-error-500);
	/* Info variant */
	--color-info-bg: var(--pl-color-primary-800);
	--color-info-fg: var(--color-foreground);
	/* END: Dark Theme */
}

body {
	@apply text-foreground bg-background overflow-hidden;
}
